<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:text="${title}"></title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>

    <body>
    	<h1 th:text="${welcome}"></h1>
    	
    	<form name="organization" method="post" th:action="@{/organization}">
    		<div layout:replace="entity/organization/create/_organization"></div>
    		<input type="submit" value="Add"/>
    	</form>
    	
    </body>
</html>