    <table border="1">
    		<tr>
    			<th> RECEIVED </th>
    			<th> SENT </th>
    		</tr>
    		
    		<tr>
    			<td>
		    		<table border="1" id="received" th:if="${!received.empty}">
			    		<tr>
			    			<th> DATE </th>
							<th> ITEM </th>
							<th> NAME </th>
							<th> COLOR </th>
						    <th> SIZE </th>
							<th> TYPE </th>
							<th> QUANTITY </th>
							<th> AMOUNT </th>
						</tr>
						
						<th:block th:each="lot : ${received}">
							<tr>
								<td><div layout:replace="forms/account/date(date=${lot.consignment.date})"></div></td>
								<td><div layout:replace="forms/account/inventory(inventory=${lot.inventory})"></div></td>
					    		<td th:text="${lot.inventory.name}" />
					    		<td th:text="${lot.inventory.color}" />
					    		<td th:text="${lot.inventory.size}" />
					    		<td th:text="${lot.inventory.type}" />
					    		<td th:text="${lot.quantity}" />
					    		<td th:text="${lot.amount}" />
				    		</tr>
				    	</th:block>
				    	
				    </table>
				  </td>
			 
				  <td>
			   		<table border="1" id="sent" th:if="${!sent.empty}">
				    		<tr>
				    			<th> DATE </th>
								<th> ITEM </th>
								<th> NAME </th>
								<th> COLOR </th>
							    <th> SIZE </th>
								<th> TYPE </th>
								<th> QUANTITY </th>
							</tr>
							
							<th:block th:each="lot : ${sent}">
								<tr>
									<td><div layout:replace="forms/account/date(date=${lot.consignment.date})"></div></td>
									<td><div layout:replace="forms/account/inventory(inventory=${lot.inventory})"></div></td>
				    				<td th:text="${lot.inventory.name}" />
						    		<td th:text="${lot.inventory.color}" />
						    		<td th:text="${lot.inventory.size}" />
						    		<td th:text="${lot.inventory.type}" />
						    		<td th:text="${lot.quantity}" />
					    		</tr>
					    	</th:block>
					    	
					    </table>
				  </td>
			</tr>
		</table>