

<script src="/js/print.js"></script>

<form style="background-image: url('/img/DWARPAL.jpg'); background-repeat: no-repeat; background-position: center; min-height: 80px;">
	<br></br>
	
	<table style="border-style: inset;" width="100%">
		<tr>
			
			<td align="left">
				<a href="https://nazariya.webs.com/" target="_blank"> Vimlesh </a>
			</td>
			
			<td align="center">
				<a href="https://nazariya.webs.com/Matrices/" target="_blank"> Kumar </a>
			</td>
		
			<td align="center">
				<a href="https://nazariya.webs.com/Sudoku/" target="_blank"> Bhansali </a>
			</td>
			
			<td align="right">
				<a href="http://shukriya-janaab.blogspot.in/" target="_blank"> <img src="/img/BHANSALIS.jpg" width="5%" heigth="5%" /> </a>
			</td>
		
		</tr>
	</table>
	
</form>