

<script src="/js/print.js"></script>

<div style="background-image: url('/img/BHANSALI.png'); background-repeat: no-repeat; background-position: center; min-height: 80px;">
	
	<div layout:replace="forms/home"></div>
	
	<table width="100%">
		<tr>
			
			<td align="left">
				<input type="button" value="Print" onclick="Print('printable');" />
			</td>
			
			<td align="right">
				<input type="button" value="Print Page" onclick="Print('page');" />
			</td>
			
		</tr>
	</table>
	<br></br>

</div>