<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title th:label="${title}"></title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/styles.css"/>
    </head>

    <body>
    	<form method="post" action="\account\organization">
		    <select name="organization">
		    	<option th:each="organization : ${organizations}" th:value="${organization.id}" th:text="${organization.name}"></option>
		    </select>
		    <input type="submit" value="Account" />
	    </form>
    </body>
</html>